body
{
    font-family:monospace;
}
*
{
    margin: 0;
    padding: 0;
}
.home
{
    background-image: url(../shutterstock_277750193.jpg);
    background-size: 100% 100%;
    height: 620px;
}
.nav
{
    background-color: rgba(0,0,0,0.3);
}
.home ul
{
    list-style-type: none;
    overflow: auto
}
.home ul li
{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.nav ul li a
{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.nav ul .logo
{
    float: left;
    margin-top: 0;
}
.nav ul .logo img
{
    width: 70px;
    height: 50px;
}

#pricing 
{
    margin-top: 100px;
    margin-bottom: 200px;
   
}

#pricing .border1
{
    background-color:#f9461d;
    height: 4px;
    width: 85px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 70px;
}
#pricing .border2
{
    background-color:#f9461d;
    height: 4px;
    width: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#pricing .card
{
    width: 30rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.05);
}s